@using JobsLibrary
@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThePopularJob</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="120" src="~/images/logo_title.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_blank" href="https://blog.thepopularjob.com">Blog</a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="JobPostings" asp-action="ListJobs">My Jobs</a>
                            </li>
                        }
                    </ul>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" style="min-width:100px; max-width:100px" aria-labelledby="dropdownMenuButton">
                                    <form method="post" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="navbar-nav d-flex ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    @if (Html.ViewContext.View.Path.Contains("Index"))
    {
        <div class="text-center banner">
            <h1 class="display-4">The Popular Job</h1>
            <h3>Your website for Work and Holiday jobs in Australia</h3>
            <a asp-action="ListJobs" class="btn btn-info">View All Jobs</a>
        </div>
    }
    else
    { <div class="mt-5"></div>}

    <div class="container" style="max-width:1000px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container d-flex flex-wrap justify-content-around line-height-children-2em
             margin-children-2em footer-children-width">
            <div class="d-flex flex-column">
                <h5>CONTACT</h5>
                <a href="#">contact@thepopularjob.com</a>
                <a href="#">Contact Us</a>
                <a href="#">Social Media Logos</a>
                <a href="#">About The Popular Job</a>
            </div>
            <div class="d-flex flex-column">
                <h5>LEGAL</h5>
                <a href="#">Privacy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Cookies Policy</a>
            </div>
            <div class="d-flex flex-column">
                <h5>USERS</h5>
                <a href="#">Register</a>
                <a href="#">Sign In</a>
                <a href="#">Blog</a>
                <a href="#">Frequently Asked Questions</a>
            </div>
            <div class="d-flex flex-column">
                <h5>EMPLOYERS</h5>
                <a href="#">Register for Free</a>
                <a href="#">Post a Job</a>
                <a href="#">Products and Prices</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
