@model ListJobsViewModel
@{
    ViewBag.Title = "Home Page";
}

<form asp-action="ListJobs" method="get" class="input-group mb-5 col-md-8 mx-auto">
    <input type="hidden" asp-for="StartIndex" />
    <input type="text" asp-for="SearchString" class="form-control" placeholder="Search..." />
    <button class="input-group-append border-0 p-0">
        <span class="input-group-text" style="height:100%">
            <i class="fa fa-search"></i>
        </span>
    </button>
</form>

<hr />

<div class="mb-5">
    <h2 class="mb-3" style="text-align:center">Checkout Our Blog</h2>
    <div class="d-flex flex-wrap justify-content-around blog-cards">
        <div class="card m-3" style="width:20%; min-width:200px">
            <img class="card-img-top" src="~/images/australian-visa.jpeg" alt="Visas" />
            <div class="card-body">
                <h5 class="card-title">Visas</h5>
                <p>Find information about the 417 and 462 Visas</p>
                <a href="https://blog.thepopularjob.com/visa/" target="_blank" class="btn btn-info card-button">
                    Read More
                </a>
            </div>
        </div>
        <div class="card m-3" style="width:20%; min-width:200px">
            <img class="card-img-top" src="/images/farm.jpg" alt="Farms" />
            <div class="card-body">
                <h5 class="card-title">Farms</h5>
                <p>Find information about farms</p>
                <a href="https://blog.thepopularjob.com/farm/" target="_blank" class="btn btn-info card-button">
                    Read More
                </a>
            </div>
        </div>
        <div class="card m-3" style="width:20%; min-width:200px">
            <img class="card-img-top" src="/images/australia.jfif" alt="Australia" />
            <div class="card-body">
                <h5 class="card-title">Australia</h5>
                <p>Find information about our top destinations in Australia</p>
                <a href="https://blog.thepopularjob.com/info/" target="_blank" class="btn btn-info card-button">
                    Read More
                </a>
            </div>
        </div>
        <div class="card m-3" style="width:20%; min-width:200px">
            <img class="card-img-top" src="/images/australia-experience.jpg" alt="Australia" />
            <div class="card-body">
                <h5 class="card-title">Experiences</h5>
                <p class="mb-5">
                    Find stories about the amazing experiences other people has lived thanks to <br />
                    <strong>The Popular Job</strong>
                </p>
                <a href="https://blog.thepopularjob.com/" target="_blank" class="btn btn-info card-button">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>

<hr />

<div">
    <h2 class="mb-4" style="text-align:center">Find Us On Social Media</h2>
    <div class="social-icons-section d-flex justify-content-around" ">

        <a href="https://www.instagram.com/thepopularjob/" target="_blank">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/The-Popular-Job-104351627988820" target="_blank">
            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/thepopularjob" target="_blank">
            <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/thepopularjob/" target="_blank"><i class="fa fa-telegram fa-3x" aria-hidden="true"></i></a>
    </div>
    </div>
