@model ListJobsViewModel
@{
    ViewBag.Title = "Home Page";
}

<form asp-action="ListJobs" method="get" class="input-group mb-5 col-md-8 mx-auto">
    <input type="hidden" asp-for="StartIndex" />
    <input type="text" asp-for="SearchString" class="form-control" placeholder="Search..." />
    <button class="input-group-append border-0 p-0">
        <span class="input-group-text" style="height:100%">
            <i class="fa fa-search"></i>
        </span>
    </button>
</form>

<hr />

<div class="mb-5">
    <h2 class="mb-3" style="text-align:center">Checkout Our Blog</h2>
    <div class="d-flex flex-wrap justify-content-around blog-cards">
        <div class="card">
            <img class="card-img-top" src="" alt="Visas" />
            <div class="card-body">
                <h5 class="card-title">Visas</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="" alt="Farms" />
            <div class="card-body">
                <h5 class="card-title">Farms</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="" alt="Australia" />
            <div class="card-body">
                <h5 class="card-title">Australia</h5>
            </div>
        </div>
    </div>
</div>

<hr />

<div">
    <h2 class="mb-3" style="text-align:center">Find Us On Social Media</h2>
    <div class="social-icons-section d-flex justify-content-around" ">

        <a href="https://www.instagram.com/thepopularjob/" target="_blank">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/The-Popular-Job-104351627988820" target="_blank">
            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/thepopularjob" target="_blank">
            <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/thepopularjob/" target="_blank"><i class="fa fa-telegram fa-3x" aria-hidden="true"></i></a>
    </div>
</div>
