@{
    ViewData["Title"] = "Referrals";
}
<h1>@ViewData["Title"]</h1>


@*CIVITATIS*@
<img src="~/images/civitatis_logo.png" width="400px" />
<img src="~/images/civitatis-16-728x90-01.png" />
<h3>
    If you are interested in tours to discover Australia, <a href="https://www.civitatis.com/en/australia/?aid=11595
"> click here!</a>
</h3>
<div style='text-align:center;'>
    <script>function loadScript(url, callback) { var script = document.createElement('script'); script.type = 'text/javascript'; if (script.readyState) { script.onreadystatechange = function () { if (script.readyState == 'loaded' || script.readyState == 'complete') { script.onreadystatechange = null; callback(); } }; } else { script.onload = function () { callback(); }; } script.src = url; document.getElementsByTagName('head')[0].appendChild(script); } loadScript('https://cdn.civitatis.com/js/vendor/iframeResizer.min.js', function () { iFrameResize({ checkOrigin: false, initCallback: function (iframe) { setTimeout(function () { var resizeEvent = window.document.createEvent('UIEvents'); resizeEvent.initUIEvent('resize', true, false, window, 0); iframe.dispatchEvent(resizeEvent); }); } }) })</script><iframe class='civitatis-iframe' src='https://www.civitatis.com/widget-activities/?affiliated=11595&display=cosy&cant=6&lang=en&currency=EUR&country=16&category=4&width=100%&removeBackground=1' width='100%' frameborder='0' data-maxwidth='100%' style='max-width: 100%'></iframe>
</div>




@*AMAZON*@
<h1>AMAZON</h1>

<h2>AUSTRALIA</h2>
<h3>Austrlia Favourite Destinations Link</h3>
<a target="_blank" href="https://www.amazon.com.au/b?_encoding=UTF8&tag=thepopularjob-22&linkCode=ur2&linkId=b280e95448b755df860669a99600f559&camp=247&creative=1211&node=4852331051">Best Sellers</a>
<img src="//ir-au.amazon-adsystem.com/e/ir?t=thepopularjob-22&l=ur2&o=36" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<h3>Austrlia Product Link</h3>
<a target="_blank" href="https://www.amazon.com.au/gp/product/B085DFNCSH/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B085DFNCSH&linkCode=as2&tag=thepopularjob-22&linkId=4fa597b8db23c6b8f0d00f54c48ff24c">Active Noise Cancelling Headphones, TaoTronics Bluetooth Headphones [Upgraded] Over Ear Wireless Headphones 40H Playtime Type-C Fast Charging Bluetooth 5.0 CVC 8.0 Mic for TV PC Cellphone, Suitable for Online Class and Meeting</a>
<img src="//ir-au.amazon-adsystem.com/e/ir?t=thepopularjob-22&l=am2&o=36&a=B085DFNCSH" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<hr />

<h2>USA</h2>
<h3>Link_any</h3>
<a class="mb-3" target="_blank" href="https://www.amazon.com/b?_encoding=UTF8&tag=thepopularjob-20&linkCode=ur2&linkId=55e726d54ac59f5427572ec75bbce4a0&camp=1789&creative=9325&node=2407755011">headphones</a>



<img class="mb-3" src="//ir-na.amazon-adsystem.com/e/ir?t=thepopularjob-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<h3>Product Link</h3>
<iframe class="mb-3" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=thepopularjob-20&marketplace=amazon&region=US&placement=B08GPRB8H9&asins=B08GPRB8H9&linkId=25e3cebb5114f946259ed747eb5be77c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
</iframe>

<h3>Banner link echo</h3>
<div class="alignleft mb-3">
    <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_placement = "assoc_banner_placement_default";
        amzn_assoc_campaigns = "health";
        amzn_assoc_banner_type = "category";
        amzn_assoc_p = "50";
        amzn_assoc_isresponsive = "false";
        amzn_assoc_banner_id = "09HH6TBVYHF2SW4PCVR2";
        amzn_assoc_width = "720";
        amzn_assoc_height = "300";
        amzn_assoc_tracking_id = "thepopularjob-20";
        amzn_assoc_linkid = "6732c240eb9e1f754a03880643d69013";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>


<h3>Banner link 720px</h3>
<div class="alignleft mb-3">
    <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_placement = "assoc_banner_placement_default";
        amzn_assoc_campaigns = "amzn_aucc_scar_lr";
        amzn_assoc_banner_type = "category";
        amzn_assoc_isresponsive = "true";
        amzn_assoc_banner_id = "0H0B6GN6MMGY2MTX7EG2";
        amzn_assoc_tracking_id = "thepopularjob-20";
        amzn_assoc_linkid = "cb44fb8923e3c8b4cda535710d8d16be";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>