/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body, header {
    background-color:whitesmoke
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
}
.footer {
/*  position: absolute;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  white-space: nowrap;*/
  background-color: #343434;
  padding: 2em;
  color:white;
}

.footer a{
    color: #a5a5a5;
}

.footer-children-width > *{
    width: 200px;
}

.line-height-children-2em > * {
    line-height: 2em;
}

.margin-children-2em > *{
    margin: 2em;
}

.banner {
    background-color: grey;
    background-image: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ), url('../images/unsplash 1- compressed.jpg');
    background-size: cover;
    color: white;
    height: 70vh;
    padding-top: 20vh;
    margin-bottom: 3em;
}

.banner > *{
    margin-bottom: 1em
}

.in-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.child-margin-1 > *{
    margin-bottom: 1em;
}

.social-icons-section a{
    color:black;
}

.blog-cards > *{
    width: 200px;
}

.card-title{
    text-align:center;
}